body {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body * {
  top: 0;
  left: 0;
}
.elementAninhado {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 0px 20px rgba(0, 114, 180, 0.404) inset;
  border: 1px solid rgb(15, 15, 15);

  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.32, 0.08, 0.54, 0.99), opacity 0.5s;
}
.elementAninhado * {
  /* overflow: hidden; */
  transition: all 0.8s cubic-bezier(0.32, 0.08, 0.54, 0.99), opacity 0.5s;
  text-align: center;
}
.elementAninhado img {
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 100px;
  object-fit: cover;
}
